[submodule "foreign/Moo-Task-FileDB"]
	path = foreign/Moo-Task-FileDB
	url = https://github.com/m-macnair/Moo-Task-FileDB
[submodule "foreign/SubSystem-TagForSubject"]
	path = foreign/SubSystem-TagForSubject
	url = https://github.com/m-macnair/SubSystem-TagForSubject
[submodule "foreign/Moo-GenericRole"]
	path = foreign/Moo-GenericRole
	url = https://github.com/m-macnair/Moo-GenericRole/
