<div id="cell">
<div id="cell_[% subject_id %]">
	<h3>[% subject_id %]</h3>
	
	<div>
	<a href="/subject/[% subject_id %]">
		<img src="/[% thumb_file_path %]" style="height:300px;width:300px;float:left;"> </img>
	</a>
	
	</div>
	
</div>
</div>
